.navbar .logo-image img {
	width: 135px;
	height: 30px;
}

.navbar .logo-text {
	color: #252c38;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1rem;
	text-decoration: none;
}

.navbar .navbar-brand {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}

.navbar {
	background-color: #f1f9fc;
	font-weight: 550;
	font-size: 0.875rem;
	line-height: 0.875rem;
}

.text-center {
	text-align: center;
}

.font-weight {
	font-weight: bold;
}

main {
	min-height: 400px;
}

body {
	background-color: lightgray !important;
}

.row>.form {
	background-color: #D9AFD9;
	background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
	/* backdrop-filter: blur(10px) saturate(125%); 
		-webkit-backdrop-filter: blur(10px) saturate(125%); */
	border-radius: 30px;
}

.text-center {
	text-align: center;
}

.container-fluid {
	margin-top: 50px;
}

.dropdown:hover .dropdown-menu {
	display: block !important;
}