#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.5s linear infinite;
	-webkit-animation: loader 0.5s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.navbar .logo-image img {
	width: 135px;
	height: 30px;
}

.navbar .logo-text {
	color: #252c38;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1rem;
	text-decoration: none;
}

.navbar .navbar-brand {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}

.navbar {
	background-color: #f1f9fc;
	font-weight: 550;
	font-size: 0.875rem;
	line-height: 0.875rem;
}

.text-center {
	text-align: center;
}

.font-weight {
	font-weight: bold;
}

main {
	min-height: 400px;
}

body {
	background-color: lightgray !important;
}

.row>.form {
	background-color: #D9AFD9;
	background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
	/* backdrop-filter: blur(10px) saturate(125%); 
		-webkit-backdrop-filter: blur(10px) saturate(125%); */
	border-radius: 30px;
}

.text-center {
	text-align: center;
}

.container-fluid {
	margin-top: 50px;
}

/* .dropdown:hover .dropdown-menu { 
 	display: block !important; 
}*/